language: node_js
dist: trusty

node_js:
  - 7
  - 6
  - 6.3
  - 6.2
  - 6.1

sudo: false

addons:
  postgresql: "9.5"

services:
  - postgresql
  - redis

before_script:
  - psql -U postgres -c 'create database "khan";'
  - psql -U postgres khan -c 'create extension "uuid-ossp";'

install:
  - make setup-ci

script:
  - node --version
  - make test-ci
