extends: airbnb/base
rules:
  semi:
    - 2
    - never
  func-names: 0
env:
  node: true
  amd: true
  mocha: true
globals:
  describe: true
  it: true
  beforeEach: true
  afterEach: true
  should: true
  models: true
  serversConfig: true
plugin:
  - chai-expect
